<div class="well" id="accuracy">

  <div class="row">

    <div class="col-md-6">

      <h4 align="center">User Accuracy: {{ '{:04.1f}'.format(data.user_accuracy) }}&#37;</h4>

      <table class="table table-bordered" align="center">
        <thead>
          <tr>
            <th></th>
            <th>Pass</th>
            <th>Rush</th>
            <th>Kick</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Pass</th>
            <td>{{ data.user_cm[0][0] }}</td>
            <td>{{ data.user_cm[0][1] }}</td>
            <td>{{ data.user_cm[0][2] }}</td>
          </tr>
          <tr>
            <th>Rush</th>
            <td>{{ data.user_cm[1][0] }}</td>
            <td>{{ data.user_cm[1][1] }}</td>
            <td>{{ data.user_cm[1][2] }}</td>
          </tr>
          <tr>
            <th>Kick</th>
            <td>{{ data.user_cm[2][0] }}</td>
            <td>{{ data.user_cm[2][1] }}</td>
            <td>{{ data.user_cm[2][2] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">

      <h4 align="center">Model Accuracy: {{ '{:04.1f}'.format(data.model_accuracy) }}&#37;</h4>
      <table class="table table-bordered" align="center">
        <thead>
          <tr>
            <th></th>
            <th>Pass</th>
            <th>Rush</th>
            <th>Kick</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Pass</th>
            <td>{{ data.model_cm[0][0] }}</td>
            <td>{{ data.model_cm[0][1] }}</td>
            <td>{{ data.model_cm[0][2] }}</td>
          </tr>
          <tr>
            <th>Rush</th>
            <td>{{ data.model_cm[1][0] }}</td>
            <td>{{ data.model_cm[1][1] }}</td>
            <td>{{ data.model_cm[1][2] }}</td>
          </tr>
          <tr>
            <th>Kick</th>
            <td>{{ data.model_cm[2][0] }}</td>
            <td>{{ data.model_cm[2][1] }}</td>
            <td>{{ data.model_cm[2][2] }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
