<div class="container" id="accuracy">

  <div class="container" id="model_accuracy">
    <h3>Model Accuracy: {{ '{:04.1f}'.format(data.model_accuracy) }}&#37;</h3>
    <div class="row">
      <div class="cell">{{ data.model_cm[0][0] }}</div>
      <div class="cell">{{ data.model_cm[0][1] }}</div>
      <div class="cell">{{ data.model_cm[0][2] }}</div>
    </div>
    <div class="row">
      <div class="cell">{{ data.model_cm[1][0] }}</div>
      <div class="cell">{{ data.model_cm[1][1] }}</div>
      <div class="cell">{{ data.model_cm[1][2] }}</div>
    </div>
    <div class="row">
      <div class="cell">{{ data.model_cm[2][0] }}</div>
      <div class="cell">{{ data.model_cm[2][1] }}</div>
      <div class="cell">{{ data.model_cm[2][2] }}</div>
    </div>
  </div>

  <div class="container" id="user_accuracy">
    <h3>User Accuracy: {{ '{:04.1f}'.format(data.user_accuracy) }}&#37;</h3>
    <div class="row">
      <div class="cell">{{ data.user_cm[0][0] }}</div>
      <div class="cell">{{ data.user_cm[0][1] }}</div>
      <div class="cell">{{ data.user_cm[0][2] }}</div>
    </div>
    <div class="row">
      <div class="cell">{{ data.user_cm[1][0] }}</div>
      <div class="cell">{{ data.user_cm[1][1] }}</div>
      <div class="cell">{{ data.user_cm[1][2] }}</div>
    </div>
    <div class="row">
      <div class="cell">{{ data.user_cm[2][0] }}</div>
      <div class="cell">{{ data.user_cm[2][1] }}</div>
      <div class="cell">{{ data.user_cm[2][2] }}</div>
    </div>
  </div>

</div>
