<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Predict the Play</title>
  <meta name="description" content="Predict the Play">
  <meta name="author" content="Zane Reynolds">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Bootstrap select CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">

    <!-- Custom feel CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/cover.css') }}">

</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Predict the Play</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/model">Model</a></li>
          <li><a href="/author">Author</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div class="page-header"><p></p></div>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="page-header">
    <h1 class="cover-heading">What will they do?</h1>
    <p class="lead">Offense: {{ data.record.OffenseTeam }}</p>
    <p class="lead">Q{{ data.record.Quarter }} {{ '{:02}'.format(data.record.Minute) }}:{{ '{:02}'.format(data.record.Second) }}</p>
    <p class="lead">Down: {{ data.record.Down }} and {{ data.record.ToGo }}</p>
    <p class="lead">Spot: {{ data.record.YardLineDirection }} {{ data.record.YardLineFixed}}</p>
    <p class="lead">Formation: {{ data.record.Formation }}</p>
  </div>

  <!-- User's choice of defense -->
  <div class="page-header">
    <h3>Choose What to Defend</h3>

    <select class="selectpicker" id="defenseBox">
      <option value="PASS">Pass</option>
      <option value="RUSH">Rush</option>
      <option value="KICK">Kick</option>
    </select>
    <button type="button" id="defendButton" class="btn btn-sm btn-primary">Defend</button>

    <script>
      $(document).ready(function(){
        $('#defendButton').click({play:"{{ data.record.Play }}", play_pred:"{{ data.play_pred }}"}, evaluate);
        display_accuracy();
      });
    </script>
  </div>

  <!-- The model's prediction -->
  <div class="page-header" id="prediction" style="display:none;">
    <h4 class="cover-heading">The model picks: {{ data.play_pred }}</h4>
    <p class="lead">Probabilities
      [pass: {{ '{:04.2f}'.format(data.probas[1]) }},
      rush: {{ '{:04.2f}'.format(data.probas[2]) }},
      kick: {{ '{:04.2f}'.format(data.probas[0]) }}]
    </p>
  </div>

  <!-- The actual play outcome -->
  <div class="page-header" id="outcome" style="display:none;">
      <h4 class="cover-heading">What really happened:</h4>
      <p class="lead">{{ data.record.Description }}</p>
      <p class="lead" id="right" style="display:none;">Good defense!</p>
      <p class="lead" id="wrong" style="display:none;">You blew it!</p>
      <p class="lead">
        <a href="/" class="btn btn-lg btn-default">Play Again</a>
      </p>
  </div>

  <div class="page-header" id="accuracy"></div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>
