<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Predict the Play</title>
  <meta name="description" content="Predict the Play">
  <meta name="author" content="Zane Reynolds">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>

<body>
<div class="container">

    <h2>Predict the Play</h2>

</div>
</body>
</html>
