<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Predict the Play</title>
  <meta name="description" content="Predict the Play">
  <meta name="author" content="Zane Reynolds">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Predict the Play</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/project">Project</a></li>
          <li><a href="/author">Author</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<!-- Spacer -->
<div class="page-header"><p></p></div>


  <!-- Main container -->

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h2 class="cover-heading">About the Project</h2>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">The Problem</h3>
      </div>
      <div class="panel-body">
        <p class="head">From the perspective of an NFL Defensive Coordinator,
          having an instant data-driven prediction of what play the opposing
          offense will run is extremely valuable. Knowing what play is coming
          can influence which defensive personnel to have on the field and in
          which coverage. Most of the prior art in this domain is dedicated to
          predicting the outcomes of games instead of individual plays.</p>
        <p class="head">NFL teams generally follow a pattern, with slight
          variations from team to team.  For example, the selection of passing
          plays by team and down:</p>
      </div>
      <img src="https://s3-us-west-2.amazonaws.com/galvanize-zgreyn/nfl-passpct.png" class="img-responsive center-block">
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">The Data</h3>
      </div>
      <div class="panel-body">
        <p class="head">I gathered NFL play data over the course of the 2013-2016
          seasons from NFLSavant.com and from Pro-Football-Reference.com.</p>
        <p class="head">Since the play data is not specific to predicting
          offensive plays, it includes many extraneous columns and rows.  For
          example, the data includes plays that never began due to timeouts or
          penalties such as false starts, encroachment, or delay of game.  So,
          I created scripts to clean and transform the data, which can be found
          in the repo.</p>
        <p class="head">Merging the two data sources revealed 4 plays where the
          data from Pro-Football-Reference was erroneous, so those plays were
          discarded.  Additionally, several games (totaling 333 plays) were not
          properly scraped from Pro-Football-Reference, so they were also
          discarded from the final data.  It's possible a rescraping could
          recover these plays.</p>
        <p class="head">The final cleaned data contains a total of 121,525
          offensive plays run from 2013 - Wk 10 2016 and has 33 features.  This
          data was split into a training and validation set containing 109,372
          and 12,153 plays respectively.</p>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Modeling</h3>
      </div>
      <div class="panel-body">
        <p class="head">The cleaned data is in human-friendly form, which
          includes categorical features such as the teams and formation, some
          redundant columns, and missing values.  However, scikitlearn's
          classifiers require additional data preparation to ensure all values
          are present and numeric.  Categorical variables were dummied, redundant
          columns dropped, and missing values filled.</p>
        <p class="head">Given these features, I built models to predict the
          result of the play.  To select a model, I evaluated a number of
          classifiers: kNN, SVM, Decision Tree, Random Forest, Neural Net, AdaBoost,
          Naive Bayes, QDA, Gradient Boosting, and Logistic Regression.  Based on
          the results, I selected the GradientBoostingClassifier, which was
          consistently the most accurate.</p>
        <p class="head">While there are hundreds of thousands of plays executed
          during each NFL season, the amount of data per offense and situation
          is limited, so the data's density is low. In addition, the players and
          play callers for offenses change year over year and even week to week,
          making historical data less pertinent to predicting upcoming plays. As
          such, I conducted a number of feature engineering experiments such as:
          <ul>
            <li>Including vs excluding offense team, defense team, season</li>
            <li>Including vs excluding score, weather, formation</li>
            <li>Stacking a "general wisdom" (not year or offense specific) model,
              which provided log-odds of RUSH, PASS, KICK as features to the final
              model</li>
          </ul></p>
        <p class="head">However, each of the variations produced results within
          about 1% accuracy of the basic GradientBoostingClassifier. To create
          the final model, I performed a grid search</p>
        <p class="head">The final model produced the following feature importances:</p>
        <img src="https://s3-us-west-2.amazonaws.com/galvanize-zgreyn/feature-importances-gbc-adj.png" class="img-responsive center-block">
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Evaluation</h3>
      </div>
      <div class="panel-body">
        <p class="head">Beyond the cross-validation scores and accuracy on the
          validation set, the quality of the model will be evaluated based on
          its performance against two competing models: 1) NFL offenses typically
          pass 57% of the time, so a naive model always guessing pass will be
          right 57% of the time.  2) Humans, given the same information.</p>
        <p class="head">While I have no NFL Defensive Coordinators on hand to
          compete against the model, I had several Monday morning quarterbacks
          compete aginst the model. Human accuracy tends to hover around the
          65-70% range while the model accuracy will to converge on 76.1% for
          the validation set.  The confusion matrix is below:
        </p>
        <img src="https://s3-us-west-2.amazonaws.com/galvanize-zgreyn/validation-cm.png" class="img-responsive center-block">
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="https://github.com/zreyn/nfl">GitHub Repo</a></li>
          <li><a href="https://youtu.be/vtaE5RznuGw?t=34s">Sports Night's Play Prediction</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>
