<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Predict the Play</title>
  <meta name="description" content="Predict the Play">
  <meta name="author" content="Zane Reynolds">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Predict the Play</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/project">Project</a></li>
          <li><a href="/author">Author</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<!-- Spacer -->
<div class="page-header"><p></p></div>


  <!-- Main container -->

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h2 class="cover-heading">About the Project</h2>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Modeling</h3>
      </div>
      <div class="panel-body">
        <a href="https://github.com/zreyn/nfl">GitHub Repo</a>
      </div>
    </div>

    <div class="panel panel-successgit ">
      <div class="panel-heading">
        <h3 class="panel-title">For Fun</h3>
      </div>
      <div class="panel-body">
        <a href="https://youtu.be/vtaE5RznuGw?t=34s">Sports Night's Play Prediction</a>
      </div>
    </div>

  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>
